v-container#project(grid-list-md)
    h3 Project: {{project.name}}
    hr
    div buttons to run and settings
    div
        v-btn(color="info" @click="runScript")
            v-icon.mr-2 play_circle_outline
            span Запустить скрипт
